<div
  class="container mt-4 mb-5"
  *ngIf="
    profileData !== undefined &&
    consultData !== undefined &&
    communeData !== undefined &&
    degreeData !== undefined &&
    medicalCenterData !== undefined
  "
>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-5 p-3">
      <div class="image-container">
        <img class="image-fluid" [src]="profileData.profile_photo" alt="" />
      </div>
      <div class="row justify-content-center">
        <div class="mt-3">
          <h5>{{ degreeData.name }}</h5>
          <h3>
            {{ profileData.first_name }} {{ profileData.last_name }}
            {{ profileData.second_lastname }}
          </h3>
        </div>
        <div class="row justify-content-center">
          <div class="col-4 p-0 text-center">
            <!--Boton compatir-->
            <button
              type="button"
              class="w-100 my-2"
              id="share-btn"
              (click)="sendWhatappUrl()"
            >
              <fa-icon [icon]="share" id="whatsapp-btn"></fa-icon>
            </button>
            <!--Fin-->
          </div>
          <div class="col-4 p-0 text-center" *ngIf="profileData.linkedin">
            <button
              type="button"
              class="w-100 my-2"
              id="linkedin-btn"
              (click)="redirectSocial(profileData.linkedin)"
            >
              <fa-icon
                class="shadow-sm"
                [icon]="linkedin"
                id="linkedin-icon"
              ></fa-icon>
            </button>
          </div>
          <div class="col-4 p-0 text-center" *ngIf="profileData.instagram">
            <button
              type="button"
              class="w-100 my-2"
              id="instagram-btn"
              (click)="redirectSocial(profileData.instagram)"
            >
              <fa-icon
                class="shadow-sm"
                [icon]="instagram"
                id="instagram-icon"
              ></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion start -->
    <div class="col-lg-7 col-sm-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Consulta
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column">
                <div>
                  <h5>{{ medicalCenterData.medical_center_type_name }}</h5>
                </div>
                <div
                  *ngIf="
                    medicalCenterData.medical_center_type_id !== 1;
                    else noMedicalCenter
                  "
                >
                  <h3>
                    {{ consultData.name }}
                    <a
                      href="javascript:void(0);"
                      (click)="redirectToMedicalCenter(medicalCenterData)"
                    >
                      <fa-icon
                        [icon]="faArrowUpRight"
                        class="hoverIcon"
                      ></fa-icon
                    ></a>
                  </h3>
                </div>
                <ng-template #noMedicalCenter>
                  <div>
                    <h3>{{ consultData.name }}</h3>
                  </div>
                </ng-template>
              </div>
              <div class="row mt-3">
                <div class="col-lg-6 col-sm-12 p-2 mb-4">
                  <div class="d-flex align-items-center mb-2">
                    <fa-icon class="ps-3" [icon]="location"></fa-icon>
                    <p class="ps-3 mb-0 text-break">
                      {{ consultData.address }} - {{ communeData.name }}.
                    </p>
                  </div>
                  <div class="d-flex align-items-center">
                    <fa-icon class="ps-3" [icon]="phone"></fa-icon>
                    <p class="ps-3 mb-0 text-break"><a href="tel:{{ consultData.phone }}">{{ consultData.phone }}</a></p>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 p-2 mb-4">
                  <div class="d-flex align-items-center mb-2">
                    <fa-icon class="ps-3" [icon]="envelope"></fa-icon>
                    <p class="ps-3 mb-0 text-break">{{ consultData.email }}</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <fa-icon class="ps-3" [icon]="whatsapp"></fa-icon>
                    <p class="ps-3 mb-0 text-break">
                      {{ consultData.whatsapp }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-2">
                <h5>Previsión:</h5>
                <div
                  class="form-check form-check-inline"
                  *ngFor="let insurance of listInsuranceData"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="inlineCheckbox1"
                    value="option1"
                    [checked]="insurance.checked"
                  />
                  <label class="form-check-label" for="inlineCheckbox1">{{
                    insurance.name
                  }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Estudios
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
          >
            <div class="accordion-body">
              <div class="d-flex flex-column">
                <div>
                  <h5>Título Universitario</h5>
                </div>
                <div>
                  <h3>{{ degreeData.name }}</h3>
                </div>
              </div>
              <div
                class="d-flex mt-4 align-items-center"
                *ngIf="specialitiesData"
              >
                <fa-icon [icon]="graduate" class="ps-4"></fa-icon>
                <h6 class="ps-4 mb-0">Especialidades:</h6>
              </div>
              <div
                class="d-flex mt-2 align-items-center"
                *ngFor="let speciality of specialitiesData"
              >
                <fa-icon [icon]="arrow" class="ps-5"></fa-icon>
                <h6 class="ps-4 mb-0">
                  {{ speciality.name }}
                </h6>
              </div>
              <div
                class="d-flex mt-4 align-items-center"
                *ngIf="subSpecialitiesData"
              >
                <fa-icon [icon]="graduate" class="ps-4"></fa-icon>
                <h6 class="ps-4 mb-0">Sub Especialidades:</h6>
              </div>
              <div
                class="d-flex mt-2 align-items-center"
                *ngFor="let subSpeciality of subSpecialitiesData"
              >
                <fa-icon [icon]="arrow" class="ps-5"></fa-icon>
                <h6 class="ps-4 mb-0">
                  {{ subSpeciality.name }}
                </h6>
              </div>
              <div
                class="d-flex mt-4 align-items-center"
                *ngIf="profileData.other_studies"
              >
                <fa-icon [icon]="graduate" class="ps-4"></fa-icon>
                <h6 class="ps-4 mb-0">Cursos y otros estudios:</h6>
              </div>
              <div
                class="d-flex mt-2 align-items-center"
                *ngIf="profileData.other_studies"
              >
                <fa-icon [icon]="arrow" class="ps-5"></fa-icon>
                <h6 class="ps-4 mb-0">
                  {{ profileData.other_studies }}
                </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Info. General
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
          >
            <div class="accordion-body" align="justify" id="info-text">
              {{ profileData.short_resume }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
