/* div{
    border: 1px solid red;
} */
fa-icon{
    font-size: 35px;
    color: var(--purple);
}
p{
    font-family: 'Roboto-reg', sans-serif;
    color: var(--orange);
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}
a, 
#icon-container, 
fa-icon{
    letter-spacing: 1px;
    text-decoration: none;
}
#icon-container{
    border: 1px groove var(--purple3);
    background-color: white;
    transition: background-color .8s;
    border-radius: 10px;
}
#icon-container:hover{
    background-color: var(--grey3);
    color: white;
}
.hiperlink {
    cursor: pointer;
}