/* div{
    border: 1px solid red;
} */
fa-icon{
    font-size: 40px;
    color: var(--blue);
}
p{
    font-family: Titulos;
    color: var(--blue);
    font-size: 1.2rem;
    letter-spacing: 1px;
}
a, 
#icon-container, 
fa-icon{
    letter-spacing: 1px;
    text-decoration: none;
}
#icon-container{
    border: 3px inset var(--purpleO);
    background-color: white;
    transition: background-color .5s;
    border-radius: 10px;
}
#icon-container:hover{
    background-color: var(--purpleO);
}
.hiperlink {
    cursor: pointer;
}