<!-- <div class="container mt-5 p-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>
</div> -->

<div class="container mb-5 rounded p-5" id="container">
  <div class="row text-center">
    <h1>Sobre MedX</h1>
    <h3>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, dolorem?
    </h3>
    <div class="col-6 my-5 py-5 align-items-center">
      <div class="img-container">
        <img src="assets/images/pexels-mike-1178683.jpg" alt="" />
      </div>
    </div>
    <div class="col-6 my-5 p-5">
      <div>
        <p align="justify">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
          perspiciatis, eius quibusdam amet blanditiis beatae accusantium,
          perferendis laboriosam harum sunt alias neque esse ipsam
          necessitatibus, pariatur saepe officiis quo reprehenderit consequatur.
          Amet, repellendus voluptatem officia quas corrupti, cupiditate
          temporibus deserunt eveniet ratione fugiat iste! Excepturi ex ipsam
          quia? Voluptas, cupiditate ipsam. Recusandae voluptatum alias tempore
          distinctio dolore amet nisi deserunt velit voluptatem asperiores est
          quo, eum blanditiis accusamus exercitationem ea neque voluptatibus
          saepe. Nemo ullam harum nisi dolorum, corrupti esse?
        </p>
        <p align="justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
          temporibus quisquam provident earum labore ipsum est incidunt
          inventore unde iure rem adipisci? Porro error facilis neque soluta
          deleniti commodi cum modi, quam quisquam fugiat provident
          necessitatibus nulla facere harum sequi, veritatis nobis natus. Soluta
          officiis ullam rem, temporibus consequuntur quis.
        </p>
      </div>
    </div>
  </div>
</div>
