<ng-container *ngIf="profileData">
  <app-filters
    [degreeId]="degree_id"
    (changeSpeciality)="changeSpecialityEvent($event)"
    (changeSubSpeciality)="changeSubSpecialityEvent($event)"
    (changeCommune)="changeCommuneEvent($event)"
    (changeInsurance)="changeInsuranceEvent($event)"
  ></app-filters>
  <app-filters-display
    [profileData]="profileData"
    [categoryData]="categoryData"
    [speciality]="speciality"
    [subSpeciality]="subSpeciality"
    [commune]="commune"
    [insurance]="insurance"
    (removeSpeciality)="removeSpecialityEvent($event)"
    (removeSubSpeciality)="removeSubSpecialityEvent($event)"
    (removeCommune)="removeCommuneEvent($event)"
    (removeInsurance)="removeInsuranceEvent($event)"
  ></app-filters-display>
</ng-container>
