<!-- <div class="container mt-5 p-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contacto</li>
        </ol>
    </nav>
</div> -->

<div class="container mb-5 rounded p-5" id="container">
  <div class="row text-center">
    <h1>Contactanos</h1>
  </div>
  <div class="row p-5">
    <div class="col-3 p-3">
      <h4 class="mt-4">
        Información <br />
        de Contacto
      </h4>
      <div class="d-flex flex-column mt-4">
        <h5 class="m-0">Registro</h5>
        <p class="m-0 mt-2">+56 9 4850 5395</p>
        <p class="m-0 mt-1">registro@medx.cl</p>
        <p class="m-0 mt-1">Lunes a Viernes 09:00 - 18:00</p>
      </div>
      <div class="d-flex flex-column mt-4">
        <h5 class="m-0">Administración</h5>
        <p class="m-0 mt-2">+56 9 4850 5395</p>
        <p class="m-0 mt-1">administracion@medx.cl</p>
        <p class="m-0 mt-1">Lunes a Viernes 09:00 - 18:00</p>
      </div>
    </div>
    <div class="col-9 p-5 shadow" id="yellow-bg">
      <div class="row">
        <h3>Escríbenos</h3>
        <p>Tus comentarios son muy importantes para nosotros!</p>
        <div class="col-6 p-3">
          <form>
            <div class="mb-3">
              <label for="nameInput" class="form-label">Nombre</label>
              <input type="email" class="form-control" id="nameInput" />
            </div>
            <div class="mb-3">
              <label for="numberInput" class="form-label">Telefono</label>
              <input type="text" class="form-control" id="numberInput" />
            </div>
          </form>
        </div>
        <div class="col-6 p-3">
          <form>
            <div class="mb-3">
              <label for="lastNameInput" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="lastNameInput" />
            </div>
            <div class="mb-3">
              <label for="mailInput" class="form-label"
                >Correo Electrónico</label
              >
              <input type="email" class="form-control" id="mailInput" />
            </div>
          </form>
        </div>
        <div class="mb-3">
          <label for="msjInput" class="form-label">Mensaje</label>
          <textarea class="form-control" id="msjInput" rows="5"></textarea>
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="w-50 shadow">ENVIAR</button>
        </div>
      </div>
    </div>
  </div>
</div>
