#container{
    padding: 40px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--lightblue);
}
a{
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--lightblue);
    transition: color .2s;
}
a:hover{
    color: var(--purple);
}
label{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
}
button{
    background-color: var(--purple);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 10px 0px;
    border: none;
    transition: background-color .5s;
    transition: color .5s;
}
button:hover{
    background-color: var(--yellow);
    color: var(--blue);
    border: none;
}
#yellow-bg{
    background-color: rgba(218, 226, 223, 0.5);
    padding: 40px;
}
#subtitle{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 500;
}
@media (max-width: 576px) {
    #yellow-bg {
      padding: 15px 5px;
    }
    #container{
        padding: 10px 5px;
        margin-top: 20px;
    }
    button{
        font-size: .5rem;
    }
    label{
        font-size: .8rem;
    }
  }