h1{
    font-family: Titulos;
}
h3{
    font-family: Titulos;
    letter-spacing: 2px;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: "Titulos";
    color: var(--lightblue);
}
label{
    font-family: Titulos;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
}
button{
    background-color: var(--purple);
    color: white;
    font-family: Helvetica;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 10px 0px;
    border: none;
    transition: background-color .5s;
    transition: color .5s;
}
button:hover{
    background-color: var(--yellow);
    color: var(--blue);
    border: none;
}
#yellow-bg{
    background-color: rgba(218, 226, 223, 0.5);
}
#subtitle{
    font-family: Titulos;
    color: black;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 700;
}