#container{
    padding: 40px;
}
h1{
    font-family: 'Russo', sans-serif;
    font-size: 2rem;
    letter-spacing: 3.5px;
}
h3{
    font-family: 'Roboto-bold', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
h4{
    font-family: 'Roboto-reg', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
}
h5{
    font-family: 'Russo', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
}
p{
    font-family: 'Roboto-reg' sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    color: var(--purple);
}
a{
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--purple);
    transition: color .2s;
}
span{
    font-size: .7rem;
}
#contact-info-title{
    font-family: 'Russo', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
a:hover{
    color: var(--orange);
}
label{
    font-family: 'Roboto-reg', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}
button{
    background-color: var(--purple);
    color: white;
    font-family: 'Roboto-bold', sans-serif;
    font-size: .8rem;
    letter-spacing: 2px;
    border-radius: 0px;
    padding: 10px 0px;
    border: none;
    transition: background-color .5s, color .5s;
}
button:hover{
    background-color: var(--orange);
    color: var(--grey3);
    border: none;
}
#yellow-bg{
    background-color: var(--grey);
    padding: 40px;
    box-shadow: -8px 8px var(--purple3);
}
#subtitle{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 500;
}
@media (max-width: 576px) {
    #yellow-bg {
      padding: 15px 5px;
    }
    #container{
        padding: 10px 5px;
        margin-top: 20px;
    }
    button{
        font-size: .5rem;
    }
    label{
        font-size: .8rem;
    }
  }