<div class="p-4 mt-3 text-center">
    <h5 class="p-4">Atiendo en :</h5>
</div>
<div class="container shadow border">
    <div class="row p-4 mt-3">
        <div class="col-8">
            <div class="row text-center">
                <div class="col-6">
                    <h2>Medisur S.A.</h2>
                    <h4>Centro Médico</h4>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-wrap justify-content-between">
                        <a href="#"><div class="icon-container shadow">
                            <fa-icon [icon]="locationIcon"></fa-icon>
                        </div></a>
                        <div class="icon-container shadow" id="whatsapp-icon">
                            <fa-icon [icon]="whatsappIcon"></fa-icon>
                        </div>
                        <div class="icon-container shadow">
                            <fa-icon [icon]="mailIcon"></fa-icon>
                        </div>
                        <div class="icon-container shadow">
                            <fa-icon [icon]="phoneIcon"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex flex-wrap justify-content-center text-center align-items-center p-2 border">
                <div class="img-container">
                    <a href="https://www.consalud.cl"><img src="assets/images/logo-consalud.png" alt="Logo"></a>
                </div>
                <div class="img-container">
                    <a href="https://www.banmedica.cl"><img src="assets/images/logo-banmedica.png" alt="Logo"></a>
                </div>
                <div class="img-container">
                    <a href="https://www.colmena.cl"><img src="assets/images/logo-colmena.svg" alt="Logo"></a>
                </div>
                <div class="img-container">
                    <a href="https://www.cruzblanca.cl"><img src="assets/images/logo_cruzblanca.svg" alt="Logo"></a>
                </div>
                <div class="img-container">
                    <a href="https://www.nuevamasvida.cl"><img src="assets/images/logo-masvida.png" alt="Logo"></a>
                </div>
                <div class="img-container">
                    <a href="https://www.vidatres.cl"><img src="assets/images/logo-vidatres.png" alt="Logo"></a>
                </div>
                <div class="img-container">
                    <a href="https://www.fonasa.cl"><img src="assets/images/logo-fonasa.jpeg" alt="Logo"></a>
                </div>             
            </div>    
        </div>
      
    </div>
         
</div>
