.container-fluid{
    background-color: white;
}
#image-container{
    max-width: 100px;
}
#login{
    padding: 12px 25px;
    background-color: var(--blue); 
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    transition: background-color .5s;
}
#login:hover{
    background-color: var(--yellow);
}
#register{
    padding: 12px 25px;
    letter-spacing: 1px;
    background-color:white;
    color: rgba(14, 17, 22, 0.8);
    border-radius: 20px;
    border: none;
    font-weight: 700;
    transition: background-color .5s;
}
#register fa-icon{
    color: rgba(14, 17, 22, 0.8);
}
#register:hover{
    background-color: rgba(0, 168, 120, .6);
}
fa-icon{
    font-size: 15px;
    margin-left: 5px;
    color: white;
}
a{
    color: var(--blue);
    letter-spacing: 2px;
    font-weight: 700;
    font-family: Titulos;
    font-size: 1rem;
    transition: color .5s;
    background-color: none;
}
a:hover{
    color: var(--purple);
}
