.container-fluid{
    background-color: white;
}
#image-container{
    max-width: 90px;
    height: auto;
}
#image-container img{
    width: 100%;
    object-fit: contain;
}
#login{
    padding: 12px 25px;
    background-color: var(--blue); 
    letter-spacing: 1px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    transition: background-color .5s;
}
#login:hover{
    background-color: var(--yellow);
}
#register{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    padding: 12px 25px;
    letter-spacing: 1px;
    background-color: var(--purple);
    color: white;
    border-radius: 0px;
    border: none;
    font-weight: 700;
    transition: background-color .5s;
}
#register fa-icon{
    color: white;
    font-size: .9rem;
}
#register:hover{
    background-color: var(--purpleO);
}
fa-icon{
    font-size: 10px;
    margin-left: 5px;
    color: var(--blue);
}
a{
    color: var(--blue);
    letter-spacing: 2px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    transition: color .5s;
    background-color: none;
    text-decoration: none;
    transition: font-weight .5s;
}
a:hover{
    color: var(--lightblue);
    font-weight: bold;
}
