<div class="container-fluid mt-2 shadow-sm p-2">
  <div class="row align-items-center text-center">
    <div class="col-4">
      <img src="assets/images/MEDXwhite.png" alt="Logo" class="img-fluid" />
    </div>
    <div class="col-4">
      <a routerLink="home" class="m-4 text-decoration-none">Home</a>
      <a routerLink="about" class="m-4 text-decoration-none">About</a>
      <a routerLink="contact" class="m-4 text-decoration-none">Contacto</a>
    </div>
    <!-- <div class="col-4" *ngIf="!state">
      <a routerLink="/register"
        ><button class="m-3 border no-border" id="register">
          Registro <fa-icon [icon]="regIcon"></fa-icon></button
      ></a>
      <a routerLink="/login"
        ><button class="m- border no-border" id="login">
          Iniciar Sesión <fa-icon [icon]="logIcon"></fa-icon></button
      ></a>
    </div>
    <div class="col-4" *ngIf="state">
      <a routerLink="/profile"
        ><button class="m-3 border no-border" id="register">
          Perfil <fa-icon [icon]="profileIcon"></fa-icon></button
      ></a>
      <a (click)="logout()"
        ><button class="m- border no-border" id="login">
          Cerrar Sesión <fa-icon [icon]="logoutIcon"></fa-icon></button
      ></a>
    </div> -->
  </div>
</div>
