<div class="container-fluid border">
    <div class="d-flex align-items-center justify-content-around">
        <div>
            <img src="assets/images/MEDX.png" class="img-fluid" alt="">
        </div>
        <div>
            <div>
                <div class="icon-container text-center">
                    <fa-icon class="me-3" [icon]="facebookIcon"></fa-icon>
                    <fa-icon [icon]="instaIcon"></fa-icon>
                    <fa-icon class="ms-3" [icon]="mailIcon"></fa-icon>
                </div>
            </div>
        </div>
        <div>
            <p class="p-0">politica de privacidad.</p>
        </div>
    </div>
</div>
