footer{
    width: 100%;
    max-height: 120px;
    position: absolute;
    bottom: 0px;
    padding: 0px;
    background-color: rgba(218, 226, 223, 0.5);
    border-top: 0.5px groove rgba(218, 226, 223, 0.8);
}
#footer-row{
    padding: 20px 0px;
}
#image-container{
    max-width: 90px;
    height: auto;
    margin-left: 4em;
}
#image-container img{
    width: 100%;
    object-fit: cover;
}
#icon-container{
    margin-right: 4em;
}
fa-icon{
    font-size: 1.5rem;
    padding: 5px 10px;
    color: var(--lightblue);
}
a{
    text-decoration: none;
}
