<div class="container p-lg-3" *ngIf="medicalCenterData !== undefined">
  <div class="row p-lg-3 p-sm-1 m-1 justify-content-center">
    <div class="col-lg-5 col-md-12 col-sm-12 p-1">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div id="img-container">
            <img
              class="shadow-sm img-fluid"
              src="{{ medicalCenterData.image }}"
              alt="Company Logo"
            />
          </div>
        </div>
        <div class="d-flex justify-content-center my-3">
          <button class="mx-1 shadow-sm" (click)="sendWhatappUrl()">
            <fa-icon [icon]="shareIcon"></fa-icon>
          </button>
          <button class="mx-1 shadow-sm" (click)="sendWebUrl()">
            <p>SITIO WEB</p>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 p-lg-3 p-sm-1 mb-lg-3 ms-lg-4 ms-sm-1">
      <div class="row justify-content-start">
        <div class="col-12 d-flex justify-content-between">
          <div class="d-flex flex-column">
            <h5>{{ medicalCenterData.medical_center_type_name }}</h5>
            <h4>{{ medicalCenterData.name }}</h4>
            <br />
            <div class="d-flex align-items-center">
              <fa-icon [icon]="locationIcon"></fa-icon>
              <p id="icon-text" class="mx-3">{{ medicalCenterData.address }}</p>
            </div>
            <div class="d-flex align-items-center mt-2">
              <fa-icon [icon]="phoneIcon"></fa-icon>
              <p id="icon-text" class="mx-3">{{ medicalCenterData.phone_1 }}</p>
            </div>
            <div class="d-flex align-items-center mt-2">
              <fa-icon [icon]="whatsappIcon"></fa-icon>
              <p id="icon-text" class="mx-3">{{ medicalCenterData.phone_2 }}</p>
            </div>
            <div class="d-flex align-items-center mt-2">
              <fa-icon [icon]="linkIcon"></fa-icon>
              <p id="icon-text" class="mx-3">{{ medicalCenterData.url }}</p>
            </div>
          </div>
          <div class="d-flex flex-column flex-nowrap" id="logo-container">
            <img src="{{ medicalCenterData.image_logo }}" class="flex-shrink-0" alt="" />
          </div>
        </div>
      </div>
    </div>
    <hr class="m-4" />
    <h5>Sobre nosostros:</h5>
    <p align="justify" id="resume">{{ medicalCenterData.description }}</p>
  </div>
  <div class="row p-lg-3 m-1 justify-content-center">
    <h5>Nuestro equipo:</h5>
    <div id="table-container" class="mt-2 table-responsive">
      <table class="table">
        <tbody>
          <tr *ngFor="let person of medicalCenterPersons">
            <th>
              <div id="photo-container">
                <img src="{{ person.profile_photo }}" alt="photo" />
              </div>
            </th>
            <td id="full-name">
              <p>
                {{ person.first_name }} {{ person.last_name }}
                {{ person.second_lastname }}
              </p>
            </td>
            <td id="age">
              <p>{{ calcularEdad(person.birth_date) + " años" }}</p>
            </td>
            <td id="category">
              <a href="">{{ person.degree_name }}</a>
            </td>
            <td>
              <button
                class="btn"
                id="table-btn"
                (click)="sendToProfileFunction(person)"
              >
                <p>Ir</p>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
