/* div{
    border: 1px solid aquamarine;
} */
.container{
    height: auto;
}
h5{
    font-family:'Roboto-bold', sans-serif;
    color: lightslategrey;
    letter-spacing: 3px;
    font-size: 1.2rem;
}
h4{
    font-family: 'Roboto-bold', sans-serif;
    color: var(--black);
    letter-spacing: 3px;
    font-size: 1.5rem;
}
fa-icon{
    font-size: 25px;
    color: var(--orange);
}
#icon-text{
    font-family:'Roboto-reg', sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 0px;
}
#img-container{
    max-width: 100%;
    height: 300px;
}
#img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}
#logo-container{
    max-width: 150px;
    height: 150px;
}
#logo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#resume{
    font-family: 'Roboto-reg', sans-serif;
    color: var(--black);
    letter-spacing: 2px;
    font-size: .9rem;
}
button{
    width: 120px;
    padding: 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    font-family: 'Roboto-bold', sans-serif;
    background-color: var(--orange);
    transition: background-color .5s;
}
button:hover{
    background-color: var(--orange2);
}
button p{
    padding: 0px;
    margin: 0px;
    font-size: .6rem;
    letter-spacing: 1px;
    color: var(--white);
    font-family: 'Roboto-bold', sans-serif;
}
button fa-icon{
    font-size: 1rem;
    color: var(--white);
}

/* table style */
#table-container{
    max-width: 90%;
}
#photo-container{
    min-width: 80px;
    height: 80px;
}
#photo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
table{
    vertical-align: middle;
    width: 100%;
}
table p{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto-reg', sans-serif;
    font-size: .9rem;
}
table a{
    text-decoration: none;
    color: black;
    transition: color .3s;
}
table a:hover{
    color: var(--purple);
}
#table-btn{
    border-radius: 0px; 
    background-color: var(--purple);   
    transition: background-color .5s;
}
#table-btn:hover{
    background-color: var(--grey);
}
#table-btn p{
    color: var(--white);
    font-family: 'Roboto-bold', sans-serif;
    letter-spacing: 3px;
    font-size: .8rem;
    transition: color .5s;
}
#table-btn p:hover{
    color: var(--orange);
}
#category a{
    font-family: 'Russo', sans-serif;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 1px;
}
#full-name p{
    font-family: 'Roboto-bold', sans-serif;
    letter-spacing: 2px;
    font-size: .9rem;
}
@media screen and (max-width:425px){
    #icon-text{
        font-size: .9rem;
    }
    fa-icon{
        font-size: 20px;
    }
    h5{
        font-size: 1.5rem;
    }
    h4{
        font-size: 2rem;
    }
    p{
        font-size: .7rem;
        letter-spacing: 1px;
    }
    #full-name p{
        letter-spacing: 1.8px;
        font-size: .7rem;
        text-align: left;
    }
    table{
     text-align: center;
    }
}