<div class="container p-3">
  <div class="row text-center shadow-sm rounded">
    <div class="col">
      <div class="dropdown">
        <button
          class="dropdown-toggle p-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Especialidad
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let speciality of specialityData">
            <a
              class="dropdown-item"
              (click)="getSubSpeciality(speciality.id)"
              >{{ speciality.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col" *ngIf="subSpecialityExist">
      <div class="dropdown">
        <button
          class="dropdown-toggle p-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Sub especialidad
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let subSpeciality of subSpecialityData">
            <a class="dropdown-item">{{ subSpeciality.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button
          class="dropdown-toggle p-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Ubiación
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let commune of communesData">
            <a class="dropdown-item">{{ commune.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button
          class="dropdown-toggle p-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Previsión
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let insurance of insuranceData">
            <a class="dropdown-item">{{ insurance.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
