<div class="container p-3">
  <div class="row text-center shadow-sm rounded">
    <div class="col">
      <div class="dropdown">
        <button
          class="dropdown-toggle p-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Especialidad
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let speciality of specialityData">
            <a class="dropdown-item" (click)="clickSpeciality(speciality)">{{
              speciality.name
            }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col" *ngIf="subSpecialityExist">
      <div class="dropdown">
        <button
          class="dropdown-toggle p-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Sub especialidad
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let subSpeciality of subSpecialityData">
            <a
              class="dropdown-item"
              (click)="clickSubSpeciality(subSpeciality)"
              >{{ subSpeciality.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button
          class="dropdown-toggle p-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Ubicación
        </button>
        <ul class="dropdown-menu">
          <li>
            <input
              class="form-control my-input"
              type="search"
              placeholder="Buscar"
              [(ngModel)]="selectedComune"
              (input)="filterUsers()"
            />
          </li>

          <li *ngFor="let commune of filterOptions">
            <a class="dropdown-item" (click)="clickCommune(commune)">{{
              commune.name
            }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button
          class="dropdown-toggle p-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Previsión
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let insurance of insuranceData">
            <a class="dropdown-item" (click)="clickInsurance(insurance)">{{
              insurance.name
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
