/* div{
    border: 1px solid aqua;
} */
button{
    background-color: white;
    letter-spacing: 1px;
    border: none;
    color: var(--black);
    font-family: 'Roboto-reg', sans-serif;
    transition: color .2s;
}
button:hover{
    color: var(--purple);
}
.row{
    background-color: white;
}

.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--purple); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--yellow); 
}

.my-input {
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: transparent;
    border-bottom: 1px solid #ddd;
 }

 .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
  }  