<div class="container mb-5 rounded p-5" id="container">
  <div class="row text-center">
    <h1>Recuperar contraseña</h1>
    <h3>Completa el formulario para recuperar tu contraseña.</h3>
  </div>
  <form
    [formGroup]="mailConfirmationForm"
    (ngSubmit)="onSubmitEmail()"
    *ngIf="state === 0"
  >
    <div class="row p-5">
      <div class="col-12 p-5 shadow">
        <div class="row">
          <h3>Confirmacion de correo electronico</h3>
          <p>Ingrese su correo electronico</p>
          <div class="row">
            <div class="col-12 p-3">
              <div class="mb-3">
                <label for="nameInput" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <div
                *ngIf="
                  mailConfirmationForm.controls['email'].valid === false &&
                  mailConfirmationForm.controls['email'].touched
                "
                class="alert-error"
              >
                Por favor ingrese un email correcto.
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="w-50">Enviar Código</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmitRestorePassword()"
    *ngIf="state === 1"
  >
    <div class="row p-5">
      <div class="col-12 p-5 shadow">
        <div class="row">
          <h3>Confirmacion de correo electronico</h3>
          <p>Ingrese su correo electronico</p>
          <div class="row">
            <div class="col-6 p-3">
              <div class="mb-3">
                <label for="nameInput" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="col-6 p-3">
              <div class="mb-3">
                <label for="nameInput" class="form-label"
                  >Código de verificación</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="code"
                />
              </div>
              <div
                *ngIf="
                  registerForm.controls['code'].valid === false &&
                  registerForm.controls['code'].touched
                "
                class="alert-error"
              >
                Por favor ingrese el código.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-3">
              <div class="mb-3">
                <label for="nameInput" class="form-label">Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                />
              </div>
              <div
                *ngIf="
                  registerForm.controls['password'].valid === false &&
                  registerForm.controls['password'].touched
                "
                class="alert-error"
              >
                Por favor ingrese una contraseña.
              </div>
            </div>
            <div class="col-6 p-3">
              <div class="mb-3">
                <label for="nameInput" class="form-label"
                  >Repite Contraseña</label
                >
                <input
                  type="password"
                  class="form-control"
                  formControlName="repeat_password"
                />
              </div>
              <div
                *ngIf="
                  registerForm.controls['repeat_password'].valid === false &&
                  registerForm.controls['repeat_password'].touched
                "
                class="alert-error"
              >
                Las contraseñas deben cohincidir.
              </div>
            </div>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="w-50">Cambiar contraseña</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
