h1{
    font-family: 'Russo', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.roboto-bold{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: var(--black);
    font-size: 1rem;
}

a{
    color: var(--orange);
    font-family: 'Roboto-bold', sans-serif;
    font-size: 1.1rem;
}

.bg-color{
    background-color: var(--grey);
}

p{
    font-family: "Roboto-reg";
    color: rgba(0, 168, 120, 1);
}
label{
    font-family: "Roboto-reg";
    letter-spacing: 2px;
    font-size: 1rem;
}
button{
    background-color: var(--purple);
    color: white;
    font-family: 'Roboto-bold';
    font-size: .9rem;
    letter-spacing: 1px;
    border-radius: 0px;
    padding: 10px 0px;
    transition: background-color .5s, color .5s;
    border: none;
}
button:hover{
    background-color: var(--grey);
    color: var(--purple);
}

.alert-error{
    color: red;
}

.alert-label{
    text-align-last: right;
    margin-top: -10px;
    margin-bottom: 5px;
}

.button{
    padding: .5rem 2.5rem;
    border: none;
    background-color: var(--grey);
    color: var(--orange);
    font-family: 'Roboto-bold', sans-serif;
    font-size: .8rem;
    letter-spacing: 2px;
    box-shadow: -5px 5px var(--purple);
    transition: background-color .6s, color .6s, box-shadow .6s;
}

button:hover{
    background-color: var(--purple);
    color: var(--grey);
    box-shadow: -5px 5px var(--orange);
}