/* div{
    border: 1px solid red;
} */



.col-4{
    border: 1px solid blue;
} 

.roboto-bold{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    color: var(--black);
    font-size: 1rem;
}

.russo{
    font-family: 'Russo', sans-serif;
    color: var(--black);
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.button{
    padding: .5rem 2.5rem;
    border: none;
    background-color: var(--grey);
    color: var(--orange);
    font-family: 'Roboto-bold', sans-serif;
    font-size: .8rem;
    letter-spacing: 2px;
    box-shadow: -5px 5px var(--purple);
    transition: background-color .6s, color .6s, box-shadow .6s;
}

button:hover{
    background-color: var(--purple);
    color: var(--grey);
    box-shadow: -5px 5px var(--orange);
}

.input-error {
    border: red 1px solid;
}

/* h3{
    font-family: Helvetica;
    letter-spacing: 2px;
}
h4{
    font-family: Helvetica;
    letter-spacing: 2px;
}
h5{
    font-family: Helvetica;
}
p{
    font-family: "Titulos";
    color: rgba(0, 168, 120, 1);
}
label{
    font-family: "TItulos";
    letter-spacing: 0.5px;
    font-size: 1.2rem;
}
button{
    background-color: rgba(0, 168, 120, .8);
    color: white;
    font-family: Helvetica;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 10px 0px;
    border: none;
    transition: background-color .5s;
}
button:hover{
    background-color: rgba(0, 168, 120, .5);;
}

.alert-error{
    color: red;
} */