<div class="container my-5" id="container">
  <form [formGroup]="accountForm">
    <div class="row justify-content-center text-left p-4">
      <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10 p-5 bg-color">
        <div class="row">
          <h1>Regístro Profesional</h1>
          <h3 class="roboto-bold">¡Empécemos!</h3>
          <div class="mt-5 mb-3">
            <label for="nameInput" class="form-label"
              >Correo electrónico:</label
            >
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div
            *ngIf="
              accountForm.get('email')?.invalid &&
              accountForm.get('email')?.touched
            "
            class="alert-error alert-label"
          >
            <div *ngIf="accountForm.get('email')?.hasError('required')">
              El correo electronico es requerido.
            </div>
          </div>

          <div class="mb-3">
            <div class="row">
              <div class="col-8">
                <label for="nameInput" class="form-label"
                  >Número Telefonico:</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="phoneNumber"
                />
              </div>
              <div class="col-4">
                <div class="text-center mt-4">
                  <button (click)="sendCodeSMS()" class="w-100">
                    Enviar Código
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              accountForm.get('phoneNumber')?.invalid &&
              accountForm.get('phoneNumber')?.touched
            "
            class="alert-error alert-label"
          >
            <div *ngIf="accountForm.get('phoneNumber')?.hasError('required')">
              El número telefonico es requerido.
            </div>
          </div>

          <div class="mb-3">
            <label for="nameInput" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div
            *ngIf="
              accountForm.get('password')?.invalid &&
              accountForm.get('password')?.touched
            "
            class="alert-error alert-label"
          >
            <div *ngIf="accountForm.get('password')?.hasError('required')">
              La contraseña es requerida.
            </div>
          </div>

          <div class="mb-3">
            <label for="nameInput" class="form-label">Repetir Contraseña</label>
            <input
              type="password"
              class="form-control"
              formControlName="repeat_password"
            />
          </div>
          <div
            *ngIf="
              accountForm.get('repeat_password')?.invalid &&
              accountForm.get('repeat_password')?.touched
            "
            class="alert-error alert-label"
          >
            <div
              *ngIf="accountForm.get('repeat_password')?.hasError('required')"
            >
              La contraseña es requerida.
            </div>
          </div>

          <div class="mb-3" *ngIf="sendCode">
            <label for="nameInput" class="form-label">Código</label>
            <input type="text" class="form-control" formControlName="code" />
          </div>

          <div class="text-center mt-4">
            <button (click)="onSubmitAccountForm()" class="w-50">
              Registrarse
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
