/* You can add global styles to this file, and also import other style files */
html{
    height: 100vh;
}
body{
    min-height: 100vh;
    background-color: white;
    overflow-x: hidden; /* Hide horizontal scrollbar */;
    margin-bottom: 0px; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-bottom: 120px;
    position: relative;
}
@font-face {
    font-family: Titulos;
    src: url(assets/fonts/Questrial-Regular.ttf);
}
:root{
    --white: #FFFFFF;  
    --black: #040926;
    --yellow: #F9E2AF;
    --lightblue: #009FBD;
    --lightblueO: rgba(35,159,189,0.5);
    --blue: #210062;
    --purple: #77037B; 
    --purpleO: rgba(119,3,123,0.2);
}



